      <li><a href="http://www.google.com" target="_blank">Google</a></li>
      <li><a href="http://www.ncbi.nlm.nih.gov/pubmed" target="_blank">PubMed</a></li>
      <li><a href="http://hsl.uw.edu/toolkits/care-provider" target="_blank">Health Links</a></li>
      <li><a href="http://www.ncbi.nlm.nih.gov/sites/GeneTests/?db=GeneTests" target="_blank">GeneTests</a></li>
      <li><a href="http://www.mayomedicallaboratories.com/test-catalog/" target="_blank">Mayo Catalog</a></li>
      <li style="margin-top: 10px;"><a href="http://www.aruplab.com/Testing-Information/lab-test-directory.jsp" target="_blank">ARUP catalog</a></li>