{% extends "layout.html" %}
{% block body %}
<script>
	$(document).ready(function() {
	});
</script>

<div class="row-fluid">
    <div class="span12">
        <h3>{{ title }}</h3>
        {% for error in errors %}
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ error }}
            </div>
        {% endfor %}
        {% if message %}
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message|safe }}
            </div>
        {% endif %}
        <form id="userform" class="form-horizontal" action="{{ form_action_url }}" method="post">
            <h2>{{ form['fullname'] }}</h2>
            <input type="hidden" name="user_id" value="{{ form['id'] }}" />
            {% if not (session['user_auth_level'] >= 1000 and not session['user_id'] == form['id']) %} {# poweruser not editing himself #}
            <div class="control-group">
                <label class="control-label" for="cur_password">Current Password</label>

                <div class="controls">
                    <input type="password" name="cur_password" id="cur_password" placeholder="current password">
                </div>
            </div>
            {% endif %}
            <div class="control-group">
                <label class="control-label" for="new_password">New Password</label>

                <div class="controls">
                    <input type="password" name="new_password" id="new_password" placeholder="new password">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="again_password">New Password (again)</label>

                <div class="controls">
                    <input type="password" name="again_password" id="again_password" placeholder="new password (again)">
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
    <!--/span-->
</div>
{% endblock %}
